<div class="container">
    <div class="card bg-light">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Registracija</h4>
        <form>
        <div class="form-group">
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="employer" checked="true" (change)="radioChange($event);">
                <span class="form-check-label"> Poslodavac </span> 
            </label>
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="worker" (change)="radioChange($event);">
                <span class="form-check-label"> Radnik</span>
            </label>
        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input id="input-ime" name="" class="form-control" placeholder="Ime" type="text" required>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input id="input-prezime" name="" class="form-control" placeholder="Prezime" type="text" required>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input id="input-email" name="" class="form-control" placeholder="Email" type="email" required>
        </div> <!-- form-group// -->
        <div class="form-group input-group" *ngIf="isEmployer">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
             </div>
            <input id="input-company" name="" class="form-control" placeholder="Firma" type="text" required>
        </div> <!-- form-group// -->
        <div class="form-group input-group" *ngIf="isWorker">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control"  (change)="selectChangedEvent($event);">
                <option value="Elektricar" selected>Elektricar</option>
                <option value="Vodoinstalater">Vodoinstalater</option>
                <option value="Keramicar">Keramicar</option>
                <option value="Inzinjer">Inzinjer</option>
                <option value="Vozac">Vozac</option>
                <option value="Ekonomista">Ekonomista</option>
                <option value="Prodavac">Prodavac</option>
            </select>
        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input id="input-password" class="form-control" placeholder="Password" type="password">
        </div> <!-- form-group// -->                                     
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click)="btnRegistrujClicked();"> Registruj se </button>
        </div> <!-- form-group// -->                                                               
    </form>
    </article>
    </div> <!-- card.// -->
    
    </div> 