<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="celo">
    <div class="nav-bar">
      <div class="nav-buttons" *ngIf="showNavButtons">
        <button class="nav-button" (click)="pocetnaClicked();">Početna</button>
        <button class="nav-button" (click)="profilClicked();">Profil</button>
        <button class="nav-button" (click)="logoutClicked();">Logout</button>
      </div>
      <img class="logo" src="../assets/job2.png">
      <span class="text-logo">NadjiPosao.</span>
    </div>
    <div class="ruter">
      <router-outlet></router-outlet>
    </div>
  </div>