.celo{
    min-height: 100%;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(37, 78, 88, 0.966);
    height: 100px;
}

.logo{
    
    width: auto;
    height: 100%;
}

.text-logo{
    margin-right: 40px;
    padding-top: 18px;
    color:rgb(0, 247, 255);
    text-transform: uppercase;
    font-size:25px;
}

.footer{
    background-color: rgba(37, 78, 88, 0.966);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.nav-buttons{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-button{
    margin:5px;
    border-color: transparent;
    background-color: transparent;
    color: white;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-button:hover{
    font-size: 28px;
}

.ruter{
    min-width: 1000px;
}