<div class='log-modalBackground'>
    <div class='log-modal'>
        <div class="log-modal-header">
            <span (click)="cancelLogIn()" class="log-cancel">&times;</span>
        </div>
        <div id="login">
            <form id="login-form" class="form" action="" method="post">
                <h3 class="text-center text-info">Login</h3>
                <div class="form-group">
                    <label for="username" class="text-info">Email:</label><br>
                    <input [(ngModel)]="email" type="text" name="email" id="input-email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" class="text-info">Password:</label><br>
                    <input [(ngModel)]="password" type="password" name="password" id="input-password" class="form-control">
                </div>
                <div class="form-group error-message">
                    <label for="error">{{errorMsg}}</label><br>
                </div>
                <div class="form-group">
                    <input class="btn btn-info btn-md" value="Login" (click)="btnLoginClicked();">
                </div>
            </form>
        </div>
    </div>
</div>