.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}
.okvir{
    margin: 20px 20px;
    background-color: rgba(186, 187, 187, 0.966);
    border-radius:5px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.profile-div{
    margin:20px 20px 20px 50px;
    padding:20px;
    min-height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-image-div{
    background-image: url("../../../assets/user.png");
    height: 290px;
    width: 290px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 50%;
}

.profile-info-div{
    width: 60%;
    padding-bottom: 10px;
    padding-right:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.lbl-ime{
    color:white;
    font-size:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: end;
}

.lbl-mail{
    color:rgba(255, 255, 255, 0.644);
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: end;
}
.example-card {
    background-color:rgb(221, 224, 224);
    margin:10px;
    min-width: 100;
    min-height: 240px;
    box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

.oglas-content{
    width: 100%;
    margin:10px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}
.oglas-details{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oglas-image{
    margin:10px;
    background-image: url("../../../assets/job2.png");
    min-height: 240px;
    width: 50%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    justify-self:center;
}

.oglas-buttons{
    display: flex;
    flex-direction: row;
  
}

.oglas-dugme{
    margin-top: 10px;
    display: flex;
    align-self: end;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: rgba(37, 78, 88, 0.966);
    color:white;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    cursor: pointer;
}

.oglas-dugme:hover{
    background-color: rgba(52, 108, 122, 0.966);
    transition-duration: 0.2;
}
